* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
}

.header {
  height: 60px;
  border-bottom: 1.5px solid #ddd;
  box-shadow: 0 8px 6px #777;
}

.header_content {
  width: 900px;
  margin: auto;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.store_logo {
  font-size: 30px;
  font-weight: 600;
  color: #f25287;
  cursor: pointer;
}

.search_wrapper {
  display: flex;
  width: 70%;
  border: 1px solid #ddd;
  justify-content: space-around;
}

.search_form {
  display: flex;
  width: 100%;
}

.search_input {
  border-color: transparent;
  width: 100%;
  height: 100%;
}

.search_input:focus{
  outline: transparent;
}

.main {
  background-color: #f9f3f3;
  min-height: calc(100vh - 60px);
}

.categories_wrapper {
  max-width: 900px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin:0px auto 15px;
  padding-top: 15px;
  
}

.category {
  width: 10%;
  border-radius: 5px;
  font-weight: bold;
  border-color: #bbbbbb;
  border-style: double;
  color: #a05344;
  background-color: #f5f4f4;
  cursor: pointer;
  padding: 5px;
}

.category:hover, .category:focus {
  background-color: #e6739f;
  color: #fff;
  border-color: transparent;
   outline: transparent;
}

.products_wrapper {
  max-width: 900px;
  width: 100%;
  margin: auto;
  padding-top: 15px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  justify-items: baseline;
  column-gap: 25px;
  position: relative;
}

.product_container {
  width: 200px;
  background-color: #fff;
  box-shadow: 0 1px 21.47px rgb(0 0 0 / 8%);
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
}

.product_description {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 15px;
}

.product_img {
  width: 120px;
  height: 120px;
}

.product_name {
  width: 90%;
  font-size: 14px;
  text-transform: uppercase;
  margin: 30px 0px 20px;
  color: #777;
  font-weight: bold;
  text-align: center;
}

.price_shop_container {
  display: flex;
  border-top: 1px solid #ddd;
  padding: 20px 25px;
  justify-content: space-between;
  align-items: center;
  color: #777;
  font-weight: 400;
}

.add_shopping_cart {
  color: #fff;
  background-color: #435560;
  border-radius: 100%;
  padding: 8px;
  width: 40px;
  height: 40px;
  cursor: pointer;
}

@media (min-width: 936px) and (max-width: 1024px) {
  .header_content,
  .products_wrapper, .categories_wrapper {
    max-width: 840px;
  }

  .products_wrapper {
    justify-items: center;
  }
}

@media (min-width: 768px) and (max-width: 935px) {
  .header_content,
  .products_wrapper, .categories_wrapper {
    max-width: 750px;
    width: 90%;
  }

  .category {
    width: 12%;
    font-size: 12px;
  }
}

@media (min-width: 320px) and (max-width: 767px) {
  .header_content {
    width: 90%;
  }

  .store_logo {
    width: 14%;
    font-size: 18px;
  }

  .categories_wrapper {
    width: 90%;
    flex-wrap: wrap;
  }

  .category {
    font-size: 12px;
    width: 30%;
    margin-bottom: 10px;
  }

  .products_wrapper {
    width: 90%;
  }

  .product_container {
    margin: 0px auto 20px;
  }
}